.heroImage {
    width:100vw;
    height:80vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .heroImageText {
        color:white;
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        
        .heroLogo {
            width: 600px;
            height: 100px;
            object-fit: cover;
        }
        p {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 300;
            word-spacing: 5px;
            padding-left: 8px;
            margin:0;
            color:white;
        }
    }
    @media (max-width: 770px)
    {   
        .heroImageText {
            
            
            .heroLogo {
                width: 80vw;
                height: 10vh;
                object-fit: cover;
            }
        }
    }
}

