@use './variables';

.navbar {
    background-color: variables.$blue-colour;
    transition: all 0.5s ease-in-out;
}
.scrollingNav {
    background-color: variables.$blue-colour;
}
.navbarLogo{
    width:50vw;
    height:5vh;
}