@use './variables';

.newsSection {
    padding: 50px 0;
    display:flex;
    flex-direction: column;
    min-height: 600px;
    align-items: center;
    width:100%;
    background-color: variables.$blue-colour;
    color:white;
    .sectionHeader {
        font-size: 2.3rem;
        margin-bottom: 40px;
        text-transform: uppercase;
        text-align: center;
    }
    .newsFeed {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        .newsItem {
            flex: 0 1 25%; 
            background-color: white;
            padding: 30px;
            box-sizing: border-box;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            height:300px;
            h1{
                color: variables.$blue-colour;
                font-size: 25px;
                text-transform: uppercase;
            }
            p{
                font-size: 16px;
            }
        }
    }
    @media (max-width: 768px) {
        .sectionHeader {
            font-size: 25px;
        }
        .newsFeed {
            padding:0 20px;
            flex-direction: column;
            height: 100%;
            align-content: space-between;
            .newsItem {
                margin-bottom: 20px;
            }
        }

      }
}
