@use './variables';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    .container {
        width: 80%;
        .plannedTitle {
            color: variables.$blue-colour;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        .hero {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .heroTitle {
                color: variables.$blue-colour;
                text-transform: uppercase;
            }
            .headerImage {
                width:100%;
                max-width:730px;
                height: 500px;
                object-fit: cover;
                margin-bottom: 15px;
            }
        }

    }
    @media (min-width: 768px) and (max-width: 1450px) {
        .container {
            .hero {
                .headerImage 
                {
                    max-width: 550px;
                    height:400px;
                }
            }
        }
      }
    
}