.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .header {
        display: flex;
        height: 70px;

        .activeHeader {
            background-color: #57a2ae;
            color: white;
            width: 33%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            h1 {
                color:white;
                font-size: 25px;
                text-transform: uppercase;
                margin:0;
            }

        }
        .headerItem {
            border: 1px solid #57a2ae;
            border-left:none;
            display: flex;
            color:#57a2ae;
            align-items: center;
            justify-content: center;
            width: 35%;
            height: 100%;
            &:first-child
            {
                border-left: 1px solid #57a2ae;
            }
            h1 {

                font-size: 25px;
                text-transform: uppercase;
                margin:0;
            }
        }
        
    }
    .content {
        background-color: #57a2ae;
        color:white;
        min-height: 500px;
        max-height: 500px;
        padding: 10px 50px;
        font-size: 20px;
        .imgContainer{
            width: 100%;
            height: 100%;
            max-height: 480px;
            object-fit: contain;
        }
        @media (max-width: 765px) {
            display: flex;
            align-items: center;
            
          }
    }
    @media (max-width: 1030px) {
        
        padding: 0 20px;

      }
}