.gridContainer {
    display:grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 300px 300px 300px; 
    column-gap: 50px;
    row-gap: 80px;
    justify-content: center;
}
.dogTile {
    position: relative;
}
.dogoImage {
    width:100%;
    height:100%;
    background-size: cover;
  background-repeat: no-repeat;

}
.dogoTitle {
    position: absolute;
    bottom: -50px;
    color:#57a2ae;
    text-transform: uppercase;
    font-size: 20px;
}
.ourDogTitle {
    padding-left: 75px;
    margin-bottom: 20px;
    text-transform: uppercase;
}