@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&family=Source+Serif+Pro:wght@700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
  }
  body h1{
    font-family: 'Source Serif Pro', serif;
    color:#57a2ae;
  }
  a, a:link, a:visited, a:focus, a:hover, a:active{
    color:white !important;
    text-decoration:none; 
    cursor:pointer;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }