.navbar {
    background-color: #1188ec;
    transition: all 0.5s ease-in-out;
    padding-right: 50px;
}
.scrollingNav {
    background-color: #1188ec;
}
.navbarLogo{
    width:50vw;
    height:5vh;
}