@use './variables' as *;

.textWithIllustrationSection {
    min-height: 980px;
    box-sizing: border-box;
    margin-bottom: 30px;
    .sectionHeader {
        font-size: 45px;
        margin-bottom: 40px;
        text-transform: uppercase;
        text-align: center;
    }
    p{
        margin:0
    }
    .gridContainer {
        display:flex;
        justify-content: space-evenly;
        .column {
            flex: 0 1 30%;
            font-size: 18px;
            position: relative;
            .textContainer {
                text-transform: uppercase;
                position: absolute;
                top:-70px;
                h1 {
                    color:$blue-colour
                }
                p {
                color:$blue-colour

                }
            }
            .illustration {
                max-width: 700px;
                max-height:fit-content;
            
            }
        }
    }
    @media (max-width: 768px) {

        .sectionHeader {
            font-size: 25px;
        }
        
        .textWithIllustrationSection {
            height: unset;
        }
        .gridContainer {
            flex-direction: column;
            .column {
                flex: 1;
                font-size: 18px;
                position: relative;
                .illustration {
                    max-width: 300px;
                
                }
        }
    }
        .callToAction {
            padding:50px;
        }
        .textContainer {
            top:-120px
        }
      }
}





