

/* footer */

@media (max-width: 768px) {

    .sectionHeader {
        font-size: 25px;
    }
    .callToActionSection{
        flex-direction: column;
    }
    .newsFeed {
        padding:0 20px;
        flex-direction: column;
        height: 100%;
        align-content: space-between;
    }
    .reviewItem {
        width: 100%;
    }
    .ctaImage {
        max-height:200px;
        max-width:300px;
    }

    .leftButton {
       display: none;
    }
    .rightButton {
        display: none;
    }
    .informationContent{
        display: flex;
        flex-direction: column;
    }
    .informationContent p{
        margin-bottom:5px
    }
    .footer {
        padding: 40px 30px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        background-color: #57a2ae;
    
    }
    .linkContainer {
        display: flex;
        flex-direction: column;
    }
    .link {
        margin-bottom: 5px;
    }
    .textWithIllustrationSection {
        height: unset;
        padding-top: 50px;
    }
    .gridContainer {
        flex-direction: column;
    }
    .callToAction {
        padding:50px;
    }
    .textContainer {
        top:-120px
    }
  }